
<%if current_user.contacts.where(group: 'Co-workers').present?  %>
<div class="card">
<div class="table-responsive">
<table class="table table-striped  table-hover">
  <tbody>
    <% @contacts_group_co_workers.each do |contact| %>
    <%if current_user && contact.user == current_user%>
      <tr>
        <td>
          <%if contact.image? %>
            <%= image_tag(contact.image_url ,class:"avatar-circle-2" ) if contact.image?  %>
              <%else%>
            <div class="avatar-circle-2">
               <span class="initials-2"> <%= contact.first_name[0..1].upcase %></span>
            </div>
          <%end%>
        </td>
        <td style="width:50%"><span><%= contact.first_name %> <%= contact.last_name %></span></td>
        <td style="width:100%">+<%= contact.phone %></td>
        <td >
          <div class="btn-group">
            <%= link_to contact,  class:"btn btn-sm btn-outline-secondary"  do %>
              <i class=" fa fa-list" data-toggle="tooltip" title="Show" > </i>
          <%end%>
        <%= link_to contact, method: :delete, data: { confirm: 'Are you sure?' } , class:"btn btn-sm btn-outline-secondary" do %>
            <i class=" fa fa-trash-o" data-toggle="tooltip" title="Delete" ></i>
        <%end%>
        </div>
        </td>

      </tr>
      <%end%>
    <% end %>
  </tbody>
</table>
</div>
</div>

<%else%>
<%=render'contacts/shared/error'%>
<%end%>
