
<div class="container-fluid">
  <!-- Breadcrumbs-->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"><i class="fa fa-smile-o"></i> Hi, <%=current_user.full_name%>  </li>
    </ol>
  </nav>

   <div class="row">
     <div class="col-md-6">
       <!-- Nav tabs -->
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#inbox">Inbox <span class="badge badge-secondary badge-pill">3</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#Sent">Sent <span class="badge badge-secondary badge-pill"><%=@compose_messages_count %></span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#delivery-reports">Delivery Report <span class="badge badge-secondary badge-pill">3</span></a>
          </li>

        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane container active" id="inbox">...</div>
         <div class="tab-pane container fade" id="Sent">
             <%=render'sentMessages'%>
         </div>
         <div class="tab-pane container fade" id="delivery-reports">...</div>
        </div>

     </div>


     <div class="col-md-6">
       <br>
       <hr>
       <div class="btn-group">
          <a href="users/edit" class="btn btn-sm btn-outline-secondary" > <i class="fa fa-cog"></i> Settings</a>
          <a href="compose_messages" class="btn btn-sm btn-outline-secondary" > All messages <span class="badge badge-secondary badge-pill"><%=@compose_messages_count %></span></a>

       </div>
       <hr>
       <!-- Icon Cards-->
       <div class="row">
         <div class="col-xl-6 col-sm-6 mb-3">
           <a href="/compose_messages/new">
             <div class="card mb-4 box-shadow">
               <img class="card-img-top"  alt="Thumbnail [100%x225]" style="height: 180px; width: 100%; display: block;" src="https://preview.ibb.co/jYVTEo/phone.jpg" data-holder-rendered="true">
               <div class="card-body">
                 <p class="card-text">
                      <h3><i class="fa fa-envelope-open"></i> SEND SMS</h3>
                      <small> <i class="fa fa-angle-right"></i> Compose Message</small>
                 </p>
                 <hr>
                 <div class="d-flex justify-content-between align-items-center">
                   <div class="btn-group">
                     <button type="button" class="btn btn-sm btn-outline-secondary"> <span class="badge badge-light">
                       0 </span></button>
                     <button type="button" class="btn btn-sm btn-outline-secondary">Message Recieved </button>
                   </div>

                 </div>
               </div>
             </div>
           </a>
         </div>

         <div class="col-xl-6 col-sm-6 mb-3">
         <a href="/contacts">
           <div class="card mb-4 box-shadow">
             <img class="card-img-top"  alt="Thumbnail [100%x225]" style="height: 180px; width: 100%; display: block;" src="https://image.ibb.co/i2SVS8/contacts.png" data-holder-rendered="true">
             <div class="card-body">
               <p class="card-text">
                    <h3><i class="fa fa-address-book"></i> CONTACTS</h3>
                    <small> <i class="fa fa-angle-right"></i> Individuals|Groups</small> <br>

               </p>
               <hr>
               <div class="d-flex justify-content-between align-items-center">
                 <div class="btn-group">
                   <button type="button" class="btn btn-sm btn-outline-secondary"> <span class="badge badge-light">
                     <%=pluralize(@contacts_count,'Contact' )%></span></button>
                   <button type="button" class="btn btn-sm btn-outline-secondary">Saved</button>
                 </div>

               </div>
             </div>
           </div>
         </a>
         </div>
       </div>

     </div>
     <br>


   </div>


</div>
