
<%if current_user.contacts.where(group: 'Co-workers').count >= 0 %>
<div class="card">
<div class="table-responsive">
<table class="table table-striped  table-hover">
  <tbody>
    <% @contacts_group_co_workers.each do |contact| %>
    <%if current_user && contact.user == current_user%>
      <tr>
        <td><%=image_tag("img_avatar.png", class:"avatar-2") %></td>
        <td style="width:50%"><span><%= contact.full_name %></span></td>
        <td style="width:100%">+<%= contact.phone %></td>
        <td >
          <div class="btn-group">
            <%= link_to "#",  class:"btn btn-sm btn-outline-secondary"  do %>
              <i class=" fa fa-paper-plane-o" data-toggle="tooltip" title="Send" > </i>
          <%end%>

          <%= link_to edit_contact_path(contact),  class:"btn btn-sm btn-outline-secondary"  do %>
            <i class=" fa fa-pencil-square-o" data-toggle="tooltip" title="Edit" > </i>
        <%end%>
        <%= link_to contact, method: :delete, data: { confirm: 'Are you sure?' } , class:"btn btn-sm btn-outline-secondary" do %>
            <i class=" fa fa-trash-o" data-toggle="tooltip" title="Delete" ></i>
        <%end%>
        </div>
        </td>

      </tr>
      <%end%>
    <% end %>
  </tbody>
</table>
</div>
</div>
<%else%>
<%=render'contacts/error'%>
<%end%>
