
<div class="container-fluid">
 <div class="row">
   <div class="col-lg-4">
      <div class="btn-group">
        <%= link_to  new_contact_path, class:"btn btn-sm btn-outline-secondary" do %>
        <i class="fa fa-plus-circle"></i> Add New
        <%end%>
        <a href="" class="btn btn-sm btn-outline-secondary"  data-toggle="modal" data-target="#exampleModal" > <i class="fa fa-cloud-upload"></i> Import Contacts</a>
      </div>
    </div>
</div>

<br>

<div class="shadow-sm p-3 mb-5 bg-white rounded">
  <div class="row">
     <div class="col-md-2">
       <div class="card">
           <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
             <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">All contacts <span class="badge badge-secondary pull-right"><%= @contacts_counts%></span></a>
             <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Friends <span class="badge badge-secondary pull-right"><%= @contacts_count_friends%></span>  </a>
             <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Family <span class="badge badge-secondary pull-right"><%= @contacts_count_family%></span></a>
             <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Co-workers <span class="badge badge-secondary pull-right"><%= @contacts_count_co_workers%></span></a>
           </div>

       </div>
   </div>
 <div class="col-md-10">
     <div class="tab-content" id="v-pills-tabContent">
       <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
          <%=render'contacts/shared/all'%>

       </div>
       <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
         <%=render'contacts/shared/friends'%>

       </div>
       <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
         <%=render'contacts/shared/family'%>
       </div>
       <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
         <%=render'contacts/shared/co_workers'%>

       </div>
     </div>
    </div>
  </div>
</div>
      <div class="text-center">
      <%= will_paginate @collection, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
      </div>
</div>
<br>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Import Contacts</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
      <small>
         Select a file on your computer that contains the data that you would like to import, or download the template to get a head start on creating the import file. <br>
         <a href="http://www.sharecsv.com/dl/3da4a33b65766225b7331b2d957d2301/sample.csv">Download Import File Template </a></p>
</p>
       </small>
       <%=render'contacts/shared/import'%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$('#myModal').on('shown.bs.modal', function () {
$('#myInput').trigger('focus')
})

$('#myTab a').on('click', function (e) {
  e.preventDefault()
  $(this).tab('show')
})
</script>
