
<div class="container-fluid">
 <div class="row">
   <div class="col-lg-4">
      <div class="btn-group">
        <%= link_to  new_contact_path, class:"btn btn-sm btn-outline-secondary" do %>
        <i class="fa fa-plus-circle"></i> Add New
        <%end%>
        <a href="" class="btn btn-sm btn-outline-secondary"  data-toggle="modal" data-target="#exampleModal" > <i class="fa fa-cloud-upload"></i> Import Contacts</a>
      </div>
    </div>
</div>

<br>
<div class="shadow-sm p-3 mb-5 bg-white rounded">
<div class="table-responsive">
<table class="table table-striped  table-hover">
  <thead>
    <tr>
      <th>Firts name</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
    <%if current_user && contact.user == current_user%>
      <tr>
        <td style="width:50%"><%= contact.full_name %></td>
        <td style="width:100%">+<%= contact.phone %></td>

        <td >
          <div class="btn-group">
          <%= link_to edit_contact_path(contact),  class:"btn btn-sm btn-outline-secondary"  do %>
            <i class=" fa fa-pencil-square-o" data-toggle="tooltip" title="Edit" > </i>
        <%end%>
        <%= link_to contact, method: :delete, data: { confirm: 'Are you sure?' } , class:"btn btn-sm btn-outline-secondary" do %>
            <i class=" fa fa-trash-o" data-toggle="tooltip" title="Delete" ></i>
        <%end%>
        </div>
        </td>

      </tr>
      <%end%>
    <% end %>
  </tbody>
</table>
</div>
      <div class="text-center">
      <%= will_paginate @collection, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
      </div>
</div>
<br>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Import Contacts</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
      <small>
         Select a file on your computer that contains the data that you would like to import, or download the template to get a head start on creating the import file. <br>
         <a href="http://www.sharecsv.com/dl/3da4a33b65766225b7331b2d957d2301/sample.csv">Download Import File Template </a></p>
</p>
       </small>
       <%=render'import'%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$('#myModal').on('shown.bs.modal', function () {
$('#myInput').trigger('focus')
})
</script>
