
<div class="container-fluid">
  <div class="shadow-sm p-3 mb-5 bg-white rounded">
    <h4>Saved Contact</h4>
    <span style="margin-top: -30px;" class="float-right"> <a href="/contacts"> <i class="fa fa-window-close" data-toggle="tooltip" title="Close"> </i></a></span>
  </div>

  <div class="shadow-sm p-3 mb-5 bg-white rounded">
   <div class="row">
     <div class="col-lg-4">
       <%= image_tag(@contact.avatar_url ,class:"avatar" ) if @contact.avatar?  %>

       <%=image_tag("img_avatar.png", class:"avatar card-img-top")%>

     </div>
     <div class="col-lg-4"> <p>
         <strong>Full name:</strong><br>
         <%= @contact.full_name %>
       </p>

       <p>
         <strong>Phone:</strong><br>
         +<%= @contact.phone %>
       </p>

       <p>
         <strong>Email:</strong><br>
         <%= @contact.email %>
       </p>
       <p>
         <strong>Group:</strong><br>
         <%= @contact.group %>
       </p>
     </div>
   </div>
    <hr>
    <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <%= link_to edit_contact_path(@contact), class:"btn btn-sm btn-outline-secondary" do %>
             <i class="fa fa-pencil-square-o"></i>
          <%end%>
          <%= link_to contacts_path , class:"btn btn-sm btn-outline-secondary" do %>
          <i class="fa fa-arrow-circle-left"></i>
          <%end%>
        </div>
        <small class="text-muted"><%=@contact.created_at.to_time.strftime("%m/%d/%y %I:%M:%S %p")%></small>
    </div>

  </div>
</div>
