<div class="container">
    <div class="card">
      <div class="card-body text-center">

        <h3>Hi
         <%= @request_form.first_name %> <%= @request_form.last_name %> ,  </h3> your request has been submitted!
          login details will be to <br><strong> <%= @request_form.email %> </strong>
          <hr>
          <br><small><i>We'll be in touch</i></small>

        <%if user_signed_in? && current_user.admin == true %>
        <%= link_to 'Edit', edit_request_form_path(@request_form) %> |
        <%= link_to 'Back', request_forms_path %>
        <%end%>
      </div>
    </div>
</div>
